body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(./images/concert-background-image.jpg);
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

main {
  flex: 1 0 auto;
}

h1 {
  text-align: center;
  color: white;
  animation: bounce;
  animation-duration: 1s;
  font-weight: 800;
  text-shadow: 10px 10px 10px #000000;
}
p {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 600;
}
.bounce {
  animation: bounce;
  animation-duration: 1s;
}

.container {
  align-items: center;
  display: flex;
  height: 50em;
}

.footer-bg {
  background-color: lightgray;
  opacity: 0.3;
}

.btn {
  margin: auto;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #000000;
  background-color: rgb(18, 204, 223);

  justify-content: center;
}

.button {
  width: 50%;
  line-height: 50px;
}

h6 {
  margin: auto;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #000000;
}

img {
  width: 20%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

button.btn:hover {
  background-color: rgb(241, 176, 212);
  text-shadow: 2px 2px 2px #000000;
}

button.btn:focus {
  text-shadow: 2px 2px 2px #000000;
  background-color: rgb(5, 29, 87);
}

button.rap-img:hover {
  background-image: url(./images/rap.png);
  background-size: 20% auto;
  background-repeat: no-repeat;
  background-position: center;
}

button.pop-img:hover {
  background-image: url(./images/microphone.png);
  background-size: 20% auto;
  background-repeat: no-repeat;
  background-position: center;
}

button.kpop-img:hover {
  background-image: url(./images/south-korea.png);
  background-size: 20% auto;
  background-repeat: no-repeat;
  background-position: center;
}

button.rock-img:hover {
  background-image: url(./images/maloik.png);
  background-size: 20% auto;
  background-repeat: no-repeat;
  background-position: center;
}

button.indie-img:hover {
  background-image: url(./images/guitar.png);
  background-size: 20% auto;
  background-repeat: no-repeat;
  background-position: center;
}

button.electro-img:hover {
  background-image: url(./images/headphones.png);
  background-size: 20% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.rap-text:hover,
.pop-text:hover,
.kpop-text:hover,
.rock-text:hover,
.indie-text:hover,
.electro-text:hover {
  display: none;
}

i {
  margin-right: 10px;
}

i,
span {
  animation: flash;
  animation-duration: 5s;
}
